# How to Highlight NaN Values in Pandas DataFrame

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,size=(5, 5)), columns=list(range(0, 5)))
df

    0   1   2   3   4
0  51  25   0  28  21
1  83   3   1   5  62
2  92  19   4  10  24
3  12  54  24   5  90
4  46  83  51  85  97

In [2]:
randoms = np.random.choice(4,(5,2),replace=True) 
randoms

array([[2, 1],
       [2, 2],
       [1, 1],
       [2, 0],
       [2, 0]])

In [3]:
for pair in randoms:
    df.loc[pair[0],pair[1]] = np.nan
df

      0     1     2   3   4
0  51.0  25.0   0.0  28  21
1  83.0   NaN   1.0   5  62
2   NaN   NaN   NaN  10  24
3  12.0  54.0  24.0   5  90
4  46.0  83.0  51.0  85  97

## Step 2: Highlight NaN values with lambda and pd.isna

In [4]:
df.style.applymap(lambda x: 'color: red' if pd.isna(x) else '')

## Step 3: Highlight NaN values by changing background

In [5]:
df.style.applymap(lambda x: '' if x==x else 'background-color: yellow')

## Step 4: Highlight NaN values in specific columns

In [6]:
df.style.applymap(lambda x: '' if x==x else 'background-color: yellow', subset=[2,3])

## Step 5: Highlight NaN values in specific columns and rows

In [7]:
df.style.applymap(lambda x: '' if x==x else 'background-color: yellow', subset=([0,1,2], slice(None)))