# Rename Pandas DataFrame Index

https://datascientyst.com/rename-index-in-pandas-dataframe/

In [1]:
import pandas as pd
df = pd.DataFrame({
    'name':['Softhints', 'DataScientyst'],
    'url':['https://www.softhints.com', 'https://datascientyst.com']
})

df

            name                        url
0      Softhints  https://www.softhints.com
1  DataScientyst  https://datascientyst.com

In [2]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [3]:
df.columns

Index(['name', 'url'], dtype='object')

## Step 2: Rename Pandas index by .rename_axis()

In [4]:
df = df.rename_axis('org_id')

In [5]:
df.index

RangeIndex(start=0, stop=2, step=1, name='org_id')

In [6]:
df = df.rename_axis('company_data', axis=1)

In [7]:
df

company_data           name                        url
org_id
0                 Softhints  https://www.softhints.com
1             DataScientyst  https://datascientyst.com

## Step 3: Rename Pandas index with df.index.names

In [8]:
df.index.names = ['org_id1']
df

company_data           name                        url
org_id1
0                 Softhints  https://www.softhints.com
1             DataScientyst  https://datascientyst.com

In [9]:
df.columns.names = ['company_data1']
df

company_data1           name                        url
org_id1
0                  Softhints  https://www.softhints.com
1              DataScientyst  https://datascientyst.com

## Step 4: Rename Pandas index with method df.index.rename('test')

In [10]:
df.index = df.index.rename('test')
df

company_data1           name                        url
test
0                  Softhints  https://www.softhints.com
1              DataScientyst  https://datascientyst.com

In [11]:
df.index

RangeIndex(start=0, stop=2, step=1, name='test')

## Step 5: Get index by its name

In [12]:
df.index.get_level_values('test')

RangeIndex(start=0, stop=2, step=1, name='test')

In [13]:
df.loc[df.index.get_level_values('test')]

company_data1           name                        url
test
0                  Softhints  https://www.softhints.com
1              DataScientyst  https://datascientyst.com