# How to Reset Column Names (Index) in Pandas

In [1]:
import pandas as pd
df = pd.DataFrame({
    'name':['Softhints', 'DataScientyst', 'DataPlotPlus'],
    'url':['https://www.softhints.com', 'https://datascientyst.com', 'https://dataplotplus.com'],
    'id':['a', 'b', 'c']
}, index=[2, 3, 4])

df

            name                        url id
2      Softhints  https://www.softhints.com  a
3  DataScientyst  https://datascientyst.com  b
4   DataPlotPlus   https://dataplotplus.com  c

In [3]:
df.columns

Index(['name', 'url', 'id'], dtype='object')

In [4]:
df.columns = range(df.shape[1])

In [5]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [6]:
df.T.reset_index(drop=True).T

               0                          1  2
2      Softhints  https://www.softhints.com  a
3  DataScientyst  https://datascientyst.com  b
4   DataPlotPlus   https://dataplotplus.com  c

In [7]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [8]:
df.columns = range(df.columns.size)

In [9]:
df.columns

RangeIndex(start=0, stop=3, step=1)

## Reset row and column index

In [10]:
df.axes

[Int64Index([2, 3, 4], dtype='int64'), RangeIndex(start=0, stop=3, step=1)]

In [11]:
df.index, df.columns = [range(df.index.size), range(df.columns.size)]

In [12]:
df

               0                          1  2
0      Softhints  https://www.softhints.com  a
1  DataScientyst  https://datascientyst.com  b
2   DataPlotPlus   https://dataplotplus.com  c

In [13]:
df.axes

[RangeIndex(start=0, stop=3, step=1), RangeIndex(start=0, stop=3, step=1)]

## Performance comparison for resetting column names

In [14]:
df_perf = pd.concat([df] * 10 ** 4)
df_perf.shape

(30000, 3)

In [15]:
%timeit df_perf.columns = range(df_perf.shape[1])

10.5 µs ± 154 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [16]:
%timeit df_perf.T.reset_index(drop=True).T

452 ms ± 4.94 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [17]:
%timeit df_perf.columns = range(df.columns.size)

9.89 µs ± 129 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [18]:
df_perf = pd.concat([df] * 10 ** 4, axis=1)
df_perf.shape

(3, 30000)

In [19]:
%timeit df_perf.columns = range(df_perf.shape[1])

10.4 µs ± 99.9 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [20]:
%timeit df_perf.T.reset_index(drop=True).T

449 ms ± 8.67 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [21]:
%timeit df_perf.columns = range(df_perf.columns.size)

9.97 µs ± 29.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)