# How to Iterate Over Rows in Pandas DataFrame

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/softhints/Pandas-Tutorials/master/data/csv/extremes.csv')
df

,Continent,Highest point,Elevation high,Lowest point,Elevation low
0,Asia,Mount Everest,8848,Dead Sea,−427
1,South America,Aconcagua,6960,Laguna del Carbón,−105
2,North America,Denali,6198,Death Valley,−86
3,Africa,Mount Kilimanjaro,5895,Lake Assal,−155
4,Europe,Mount Elbrus,5642,Caspian Sea,−28
5,Antarctica,Vinson Massif,4892,"Deep Lake, Vestfold Hills",−50
6,Australia,Puncak Jaya,4884,Lake Eyre,−15

## 3. Iterate Using `iterrows()`

In [2]:
for index, row in df.iterrows():
    print(index, row)

0 Continent                  Asia
Highest point     Mount Everest
Elevation high             8848
Lowest point           Dead Sea
Elevation low              −427
Name: 0, dtype: object
1 Continent             South America
Highest point             Aconcagua
Elevation high                 6960
Lowest point      Laguna del Carbón
Elevation low                  −105
Name: 1, dtype: object
2 Continent         North America
Highest point            Denali
Elevation high             6198
Lowest point       Death Valley
Elevation low               −86
Name: 2, dtype: object
3 Continent                    Africa
Highest point     Mount Kilimanjaro
Elevation high                 5895
Lowest point             Lake Assal
Elevation low                  −155
Name: 3, dtype: object
4 Continent               Europe
Highest point     Mount Elbrus
Elevation high            5642
Lowest point       Caspian Sea
Elevation low              −28
Name: 4, dtype: object
5 Continent                        Antarctica
Highest point                 Vinson Massif
Elevation high                         4892
Lowest point      Deep Lake, Vestfold Hills
Elevation low                           −50
Name: 5, dtype: object
6 Continent           Australia
Highest point     Puncak Jaya
Elevation high           4884
Lowest point        Lake Eyre
Elevation low             −15
Name: 6, dtype: object

In [3]:
for index, row in df.iterrows():
    print(index, row['Continent'], row['Elevation high'])

0 Asia 8848
1 South America 6960
2 North America 6198
3 Africa 5895
4 Europe 5642
5 Antarctica 4892
6 Australia 4884

In [4]:
for index, row in df.iteritems():
    print(index, row)

Continent 0             Asia
1    South America
2    North America
3           Africa
4           Europe
5       Antarctica
6        Australia
Name: Continent, dtype: object
Highest point 0        Mount Everest
1            Aconcagua
2               Denali
3    Mount Kilimanjaro
4         Mount Elbrus
5        Vinson Massif
6          Puncak Jaya
Name: Highest point, dtype: object
Elevation high 0    8848
1    6960
2    6198
3    5895
4    5642
5    4892
6    4884
Name: Elevation high, dtype: int64
Lowest point 0                     Dead Sea
1            Laguna del Carbón
2                 Death Valley
3                   Lake Assal
4                  Caspian Sea
5    Deep Lake, Vestfold Hills
6                    Lake Eyre
Name: Lowest point, dtype: object
Elevation low 0    −427
1    −105
2     −86
3    −155
4     −28
5     −50
6     −15
Name: Elevation low, dtype: object

## 4. Using `df.itertuples()`

In [5]:
for row in df.itertuples():
      print(row)

Pandas(Index=0, Continent='Asia', _2='Mount Everest', _3=8848, _4='Dead Sea', _5='−427')
Pandas(Index=1, Continent='South America', _2='Aconcagua', _3=6960, _4='Laguna del Carbón', _5='−105')
Pandas(Index=2, Continent='North America', _2='Denali', _3=6198, _4='Death Valley', _5='−86')
Pandas(Index=3, Continent='Africa', _2='Mount Kilimanjaro', _3=5895, _4='Lake Assal', _5='−155')
Pandas(Index=4, Continent='Europe', _2='Mount Elbrus', _3=5642, _4='Caspian Sea', _5='−28')
Pandas(Index=5, Continent='Antarctica', _2='Vinson Massif', _3=4892, _4='Deep Lake, Vestfold Hills', _5='−50')
Pandas(Index=6, Continent='Australia', _2='Puncak Jaya', _3=4884, _4='Lake Eyre', _5='−15')

In [6]:
next(iter(df.itertuples(index=True, name='Point')))

Point(Index=0, Continent='Asia', _2='Mount Everest', _3=8848, _4='Dead Sea', _5='−427')

In [7]:
next(iter(df.itertuples(index=True, name='Point')))[1:4]

('Asia', 'Mount Everest', 8848)

In [8]:
for row in df.itertuples(index=True, name='Point'):
      print(row[3], row[2])

8848 Mount Everest
6960 Aconcagua
6198 Denali
5895 Mount Kilimanjaro
5642 Mount Elbrus
4892 Vinson Massif
4884 Puncak Jaya

## 5. Faster Iteration over rows

In [9]:
[print(x, y) for x, y in zip(df['Continent'], df['Highest point'])]

Asia Mount Everest
South America Aconcagua
North America Denali
Africa Mount Kilimanjaro
Europe Mount Elbrus
Antarctica Vinson Massif
Australia Puncak Jaya

[None, None, None, None, None, None, None]

In [10]:
def func(x, y):
    return x + ' : ' +  y

result = [func(x, y) for x, y in zip(df['Continent'], df['Highest point'])]
result

['Asia : Mount Everest',
 'South America : Aconcagua',
 'North America : Denali',
 'Africa : Mount Kilimanjaro',
 'Europe : Mount Elbrus',
 'Antarctica : Vinson Massif',
 'Australia : Puncak Jaya']