# What is a DataFrame MultiIndex in Pandas

## Step 1: DataFrame MultiIndex in Pandas

In [1]:
import pandas as pd

cols = pd.MultiIndex.from_tuples([(0, 1), (0, 1)])
pd.DataFrame([[1,2], [3,4]], index=cols)

     0  1
0 1  1  2
  1  3  4

In [2]:
cols = pd.MultiIndex.from_tuples([('a', 'b'), ('a', 'b')])
pd.DataFrame([[1,2], [3,4]], columns=cols)

   a
   b  b
0  1  2
1  3  4

## Step 2: Pandas MultiIndex to single index

In [3]:
df = pd.DataFrame([[1,2], [3,4]], columns=cols)
df.droplevel(level=1, axis=1)

   a  a
0  1  2
1  3  4

## Step 3: How to create Pandas MultiIndex

In [4]:
mi = pd.MultiIndex.from_arrays(
[[1, 2], [3, 4], [5, 6]], names=['x', 'y', 'z'])

mi.to_frame()

       x  y  z
x y z
1 3 5  1  3  5
2 4 6  2  4  6

## Step 4: Convert Pandas MultiIndex into column

In [5]:
cols = pd.MultiIndex.from_tuples([('a', 'b'), ('a', 'b')])
df = pd.DataFrame([[1,2], [3,4]], index=cols)
df

     0  1
a b  1  2
  b  3  4

In [6]:
df.reset_index()

  level_0 level_1  0  1
0       a       b  1  2
1       a       b  3  4