# 2. How to Drop a Level from a MultiIndex in Pandas

## Step 1: Pandas drop MultiIndex by method - droplevel

### Pandas drop MultiIndex on index/rows

In [1]:
import pandas as pd

cols = pd.MultiIndex.from_tuples([(0, 1), (0, 1)])
df = pd.DataFrame([[1,2], [3,4]], index=cols)
df

     0  1
0 1  1  2
  1  3  4

In [2]:
df.droplevel(level=0)

   0  1
1  1  2
1  3  4

### Pandas drop MultiIndex on columns

In [3]:
import pandas as pd

cols = pd.MultiIndex.from_tuples([(0, 1), (0, 1)])
df = pd.DataFrame([[1,2], [3,4]], columns=cols)
df

   0
   1  1
0  1  2
1  3  4

In [4]:
df.droplevel(level=0, axis=1)

   1  1
0  1  2
1  3  4

In [5]:
df.columns.droplevel(level=0)

Int64Index([1, 1], dtype='int64')

In [6]:
df.columns = df.columns.droplevel(level=0)
df

   1  1
0  1  2
1  3  4

## Step 2: Pandas drop MultiIndex by method - reset_index

In [7]:
import pandas as pd

cols = pd.MultiIndex.from_tuples([(0, 1), (0, 1)])
df = pd.DataFrame([[1,2], [3,4]], index=cols)
df

     0  1
0 1  1  2
  1  3  4

### Drop all levels of MultiIndex to columns

In [8]:
df.reset_index()

   level_0  level_1  0  1
0        0        1  1  2
1        0        1  3  4

### Reset single level of MultiIndex

In [9]:
df.reset_index(level=1)

   level_1  0  1
0        1  1  2
0        1  3  4

## Typical Errors on Pandas Drop MultiIndex

In [ ]:
cols = pd.MultiIndex.from_tuples([(0, 1), (0, 1)])
df = pd.DataFrame([[1,2], [3,4]], index=cols)

df.columns.droplevel()

In [ ]:
cols = pd.MultiIndex.from_tuples([(0, 1), (0, 1)])
df = pd.DataFrame([[1,2], [3,4]], index=cols)

df.columns.droplevel(level=3)