# How to Flatten a MultiIndex in Pandas

In [1]:
import pandas as pd

cols = pd.MultiIndex.from_tuples([('company', 'rank'), ('company', 'points')])
df = pd.DataFrame([[1,2], [3,4]], columns=cols)
df2 = df.copy()

## Step 2: Flatten column MultiIndex with method `to_flat_index`

In [2]:
df.columns = df.columns.to_flat_index()
df

   (company, rank)  (company, points)
0                1                  2
1                3                  4

In [3]:
df.columns

Index([('company', 'rank'), ('company', 'points')], dtype='object')

## Step 3: Flatten hierarchical index in DataFrame with `.get_level_values(0)`

In [4]:
df = df2.copy()

In [5]:
df.columns = df.columns.get_level_values(0) + '_' +  df.columns.get_level_values(1)
df

   company_rank  company_points
0             1               2
1             3               4

In [6]:
df.columns

Index(['company_rank', 'company_points'], dtype='object')

## Step 4: Pandas flatten MultiIndex by `reset_index(drop=True)`

In [7]:
df = df2.copy()

In [8]:
df = df.T.reset_index(drop=True).T

In [9]:
df

   0  1
0  1  2
1  3  4

In [10]:
df.columns

RangeIndex(start=0, stop=2, step=1)

## Step 5: Flatten MultiIndex in Pandas with list comprehension

In [11]:
df = df2.copy()

In [12]:
df.columns = [' & '.join(col).rstrip('_') for col in df.columns.values]
df

   company & rank  company & points
0               1                 2
1               3                 4

In [13]:
df.columns

Index(['company & rank', 'company & points'], dtype='object')