# How to Use set_index With MultiIndex Columns in Pandas

In [1]:
import pandas as pd

cols = pd.MultiIndex.from_tuples([('company A', 'rank'), ('company A', 'points'), ('company B', 'rank'), ('company B', 'points')])
df = pd.DataFrame([[1,2,3,4], [2,3, 3,4]], columns=cols)

In [2]:
df

  company A        company B
       rank points      rank points
0         1      2         3      4
1         2      3         3      4

In [3]:
df.columns

MultiIndex([('company A',   'rank'),
            ('company A', 'points'),
            ('company B',   'rank'),
            ('company B', 'points')],
           )

## `set_index` applied on a single column

In [4]:
df.set_index([('company A',   'rank')])

                  company A company B
                     points      rank points
(company A, rank)
1                         2         3      4
2                         3         3      4

In [5]:
df.set_index(df.columns[0])

                  company A company B
                     points      rank points
(company A, rank)
1                         2         3      4
2                         3         3      4

## Use `set_index` with multiple columns in Pandas

In [6]:
df.set_index([('company A',   'rank'), ('company B',   'rank')])

                                    company A company B
                                       points    points
(company A, rank) (company B, rank)
1                 3                         2         4
2                 3                         3         4