# How to rename column names in Pandas

In [101]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,10,size=(5, 5)), columns=list('ABCDF'))
df

   A  B  C  D  F
0  0  5  1  3  0
1  8  1  1  4  0
2  1  3  2  8  3
3  0  5  3  4  0
4  6  7  8  2  7

## Step 1: Rename all column names in Pandas DataFrame

In [102]:
df.columns

Index(['A', 'B', 'C', 'D', 'F'], dtype='object')

In [103]:
df.columns = ['First', 'Second', '3rd', '4th', '5th']

In [104]:
df.columns

Index(['First', 'Second', '3rd', '4th', '5th'], dtype='object')

## Step 2: Rename specific column names in Pandas

In [105]:
df.columns = ['A', 'B', 'C', 'D', 'F']

In [106]:
column_map = {'A': 'First', 'B': 'Second'}
df = df.rename(columns=column_map)

In [107]:
df.columns

Index(['First', 'Second', 'C', 'D', 'F'], dtype='object')

## Step 3: Rename column names in Pandas with lambda

In [108]:
df.columns = ['A', 'B', 'C', 'D', 'F']
df = df.rename(columns=lambda x: x.lower())

In [109]:
df.columns

Index(['a', 'b', 'c', 'd', 'f'], dtype='object')

In [69]:
df.columns = ['A', 'B', 'C', 'D', 'F']

## Step 4: Rename column names in Pandas with str methods

In [110]:
df.columns = df.columns.str.replace(r'(.*)', r'Column \1')

In [111]:
df.columns

Index(['Column a', 'Column b', 'Column c', 'Column d', 'Column f'], dtype='object')

## Step 5: Rename multi-level column names in DataFrame

In [113]:
import pandas as pd

cols = pd.MultiIndex.from_tuples([(0, 1), (0, 2)])
df = pd.DataFrame([[1,2], [3,4]], columns=cols)

df

   0
   1  2
0  1  2
1  3  4

In [114]:
df.columns

MultiIndex([(0, 1),
            (0, 2)],
           )

In [115]:
df.columns = pd.MultiIndex.from_tuples([('A', 'B'), ('A', 'C')])
df

   A
   B  C
0  1  2
1  3  4