# How to Check the Dtype of Column(s) in Pandas DataFrame

https://datascientyst.com/check-dtype-column-columns-pandas-dataframe/

| Pandas dtype | Data Type | Description | Example | Creation |
|---|---|---|---|---|
| bool | bool | Boolean values – True or False  | True | pd.BooleanDtype() |
| category | NA | Limited list of values (can be fixed) | [‘red’, ‘blue’] | pd.Categorical([1, 2, 3, 1, 2, 3]) |
| datetime64 | datetime | Datetime (conversion is needed) | 2020-11-16 22:50:18.092888+0000 | to_datetime(df['date']) |
| float64 | float | Floating point numbers | 80.5 | df.astype('float64') |
| int64 | int | Integer numbers | 8 | df.astype('int64') |
| object | strings | String, text and other | Red Pandas |  |
| timedelta | timedelta | Duration between two dates or times | 0 days 00:00:00.000000001 | pd.Timedelta(42, unit='ns') |

In [1]:
import pandas as pd

cols = ['Date', 'Time', 'Depth', 'Magnitude Type', 'Type', 'Magnitude']
df = pd.read_csv(f'../data/earthquakes_1965_2016_database.csv.zip')[cols]
df['Date'] = pd.to_datetime(df['Date'], utc=True)
df['Depth_int'] = df['Depth'].astype(int)
df

,Date,Time,Depth,Magnitude Type,Type,Magnitude,Depth_int
0,1965-01-02 00:00:00+00:00,13:44:18,131.60,MW,Earthquake,6.0,131
1,1965-01-04 00:00:00+00:00,11:29:49,80.00,MW,Earthquake,5.8,80
2,1965-01-05 00:00:00+00:00,18:05:58,20.00,MW,Earthquake,6.2,20
3,1965-01-08 00:00:00+00:00,18:49:43,15.00,MW,Earthquake,5.8,15
4,1965-01-09 00:00:00+00:00,13:32:50,15.00,MW,Earthquake,5.8,15
...,...,...,...,...,...,...,...
23407,2016-12-28 00:00:00+00:00,08:22:12,12.30,ML,Earthquake,5.6,12
23408,2016-12-28 00:00:00+00:00,09:13:47,8.80,ML,Earthquake,5.5,8
23409,2016-12-28 00:00:00+00:00,12:38:51,10.00,MWW,Earthquake,5.9,10
23410,2016-12-29 00:00:00+00:00,22:30:19,79.00,MWW,Earthquake,6.3,79
23411,2016-12-30 00:00:00+00:00,20:08:28,11.94,MB,Earthquake,5.5,11

## Step 2: Get dtypes for all columns in DataFrame

In [2]:
df.dtypes

Date              datetime64[ns, UTC]
Time                           object
Depth                         float64
Magnitude Type                 object
Type                           object
Magnitude                     float64
Depth_int                       int64
dtype: object

## Step 4: Check if column is numeric, datetime, categorical etc

In [3]:
from pandas.api.types import is_numeric_dtype
is_numeric_dtype(df['Depth_int'])

True

In [4]:
from pandas.api.types import is_datetime64_ns_dtype
is_datetime64_ns_dtype(df['Date'])

True

In [5]:
from pandas.api.types import is_datetime64_any_dtype
is_datetime64_any_dtype(df['Date'])

True

## Step 5: List all numeric/datetime columns in Pandas DataFrame

In [6]:
df.select_dtypes(include=['float64']).columns

Index(['Depth', 'Magnitude'], dtype='object')

In [7]:
df.select_dtypes(exclude=['float64','datetime']).columns

Index(['Date', 'Time', 'Magnitude Type', 'Type', 'Depth_int'], dtype='object')

## Step 6: Filter columns by dtype and name in Pandas DataFrame

In [8]:
from pandas.api.types import is_numeric_dtype

for col in df.columns:
    if is_numeric_dtype(df[col]) and 'Depth' in col:
          print(col)

Depth
Depth_int

## Step 7: Apply function on numeric columns only

In [9]:
def double_n(x):
    return x * 2

df.select_dtypes(include=['float64']).apply(double_n)

        Depth  Magnitude
0      263.20       12.0
1      160.00       11.6
2       40.00       12.4
3       30.00       11.6
4       30.00       11.6
...       ...        ...
23407   24.60       11.2
23408   17.60       11.0
23409   20.00       11.8
23410  158.00       12.6
23411   23.88       11.0

[23412 rows x 2 columns]