# How to Skip First Rows in Pandas read_csv and skiprows?

https://datascientyst.com/pandas-read-csv-file-read_csv-skiprows/

In [1]:
!cat '../data/csv/multine_header.csv'

Date,Company A,Company A,Company B,Company B
,Rank,Points,Rank,Points
2021-09-06,1,7.9,2,6
2021-09-07,1,8.5,2,7
2021-09-08,2,8,1,8.1

In [2]:
csv_file = '../data/csv/multine_header.csv'

## Step 1: Skip first N rows while reading CSV file

In [3]:
import pandas as pd
df = pd.read_csv(csv_file, skiprows=3)
df

   2021-09-07  1  8.5  2    7
0  2021-09-08  2    8  1  8.1

## Step 2: Skip first N rows and use header

In [4]:
df = pd.read_csv(csv_file, skiprows=3, header=None)
df

            0  1    2  3    4
0  2021-09-07  1  8.5  2  7.0
1  2021-09-08  2  8.0  1  8.1

## Step 3: Pandas keep the header and skip first rows

In [5]:
rows_to_skip = range(1,3)
df = pd.read_csv(csv_file, skiprows=rows_to_skip)
df

         Date  Company A  Company A.1  Company B  Company B.1
0  2021-09-07          1          8.5          2          7.0
1  2021-09-08          2          8.0          1          8.1

## Step 2: Skip non consecutive rows with `read_csv` by index

In [6]:
df = pd.read_csv(csv_file, skiprows=[0,2])
df

   Unnamed: 0  Rank  Points  Rank.1  Points.1
0  2021-09-07     1     8.5       2       7.0
1  2021-09-08     2     8.0       1       8.1