# How to Use Multiple Char Separator in read_csv in Pandas

In [1]:
!cat '../data/csv/multine_separators.csv'

Date;;Company A;;Company A;;Company B;;Company B
2021-09-06;;1;;7.9;;2;;6
2021-09-07;;1;;8.5;;2;;7
2021-09-08;;2;;8;;1;;8.1

In [2]:
import pandas as pd

csv_file = '../data/csv/multine_separators.csv'

df = pd.read_csv(csv_file, delimiter=';;')
df

/home/vanx/PycharmProjects/datascientyst/venv/lib/python3.8/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

         Date  Company A  Company A.1  Company B  Company B.1
0  2021-09-06          1          7.9          2          6.0
1  2021-09-07          1          8.5          2          7.0
2  2021-09-08          2          8.0          1          8.1

In [3]:
df = pd.read_csv(csv_file, delimiter=';;', engine='python')
df

         Date  Company A  Company A.1  Company B  Company B.1
0  2021-09-06          1          7.9          2          6.0
1  2021-09-07          1          8.5          2          7.0
2  2021-09-08          2          8.0          1          8.1

In [4]:
df = pd.read_csv(csv_file, sep=r';+', engine='python')
df

         Date  Company A  Company A.1  Company B  Company B.1
0  2021-09-06          1          7.9          2          6.0
1  2021-09-07          1          8.5          2          7.0
2  2021-09-08          2          8.0          1          8.1

In [5]:
## error on line ( if you add it )
## 2021-09-09;;2;;8;;1;;"8.3;;5.5"

In [6]:
df = pd.read_csv(csv_file, delimiter=';;', engine='python', error_bad_lines=False)
df

/home/vanx/PycharmProjects/datascientyst/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

         Date  Company A  Company A.1  Company B  Company B.1
0  2021-09-06          1          7.9          2          6.0
1  2021-09-07          1          8.5          2          7.0
2  2021-09-08          2          8.0          1          8.1