# GroupBy and Count in Pandas

In [1]:
import pandas as pd
df = pd.read_csv('../data/medium_data.csv.zip')

## Option 1: GroupBy and Count in Pandas

In [2]:
df['date'] = pd.to_datetime(df['date'])
df['date_m'] = df['date'].dt.to_period('M')

In [3]:
df.groupby(['publication', 'date_m'])['url'].count()

publication    date_m
Better Humans  2019-03     5
               2019-04     4
               2019-05     4
               2019-06     1
               2019-07     3
                          ..
UX Collective  2019-08    24
               2019-09    33
               2019-10    86
               2019-11    28
               2019-12    46
Name: url, Length: 79, dtype: int64

## Option 2: GroupBy and Aggregate functions in Pandas

In [4]:
df.groupby(['publication', 'date_m'])

In [5]:
df.groupby(['publication', 'date_m']).agg(['mean', 'count', 'sum']).head(15)

                                   id                     claps               \
                                 mean count    sum         mean count    sum
publication      date_m
Better Humans    2019-03  5138.200000     5  25691  1710.800000     5   8554
                 2019-04  2308.250000     4   9233  3942.250000     4  15769
                 2019-05  3382.000000     4  13528  1187.000000     4   4748
                 2019-06  6326.000000     1   6326  9700.000000     1   9700
                 2019-07  1189.333333     3   3568  1183.333333     3   3550
                 2019-09  2201.333333     3   6604   439.333333     3   1318
                 2019-10  2422.000000     4   9688   204.500000     4    818
                 2019-11  2441.500000     2   4883  1460.500000     2   2921
                 2019-12  2299.500000     2   4599  1900.000000     2   3800
Better Marketing 2019-03  4798.600000     5  23993  1857.600000     5   9288
                 2019-04  3816.750000     4  15267  1494.500000     4   5978
                 2019-05  2650.911765    34  90131   637.588235    34  21678
                 2019-06  5757.200000    15  86358   649.200000    15   9738
                 2019-07  1835.382979    47  86263   517.957447    47  24344
                 2019-08  3423.400000    25  85585   935.840000    25  23396

                         reading_time
                                 mean count  sum
publication      date_m
Better Humans    2019-03    12.000000     5   60
                 2019-04     7.500000     4   30
                 2019-05    25.000000     4  100
                 2019-06     5.000000     1    5
                 2019-07    22.333333     3   67
                 2019-09    12.000000     3   36
                 2019-10     9.750000     4   39
                 2019-11     9.000000     2   18
                 2019-12     9.500000     2   19
Better Marketing 2019-03     9.600000     5   48
                 2019-04     5.500000     4   22
                 2019-05     6.529412    34  222
                 2019-06     7.000000    15  105
                 2019-07     6.106383    47  287
                 2019-08     5.880000    25  147

## Option 3: GroupBy, Count and value_counts in Pandas

In [6]:
df.value_counts(['publication', 'date_m'])

publication    date_m
The Startup    2019-05    656
               2019-10    477
               2019-07    401
               2019-12    310
               2019-06    286
                         ...
Better Humans  2019-07      3
UX Collective  2019-01      2
Better Humans  2019-12      2
               2019-11      2
               2019-06      1
Length: 79, dtype: int64

In [7]:
df.groupby(['publication', 'date_m'])['url'].count().sort_values(ascending=False)

publication    date_m
The Startup    2019-05    656
               2019-10    477
               2019-07    401
               2019-12    310
               2019-06    286
                         ...
Better Humans  2019-07      3
UX Collective  2019-01      2
Better Humans  2019-12      2
               2019-11      2
               2019-06      1
Name: url, Length: 79, dtype: int64

## Option 4: GroupBy and Count + Size in Pandas

In [8]:
df.groupby(['publication', 'date_m']).size()

publication    date_m
Better Humans  2019-03     5
               2019-04     4
               2019-05     4
               2019-06     1
               2019-07     3
                          ..
UX Collective  2019-08    24
               2019-09    33
               2019-10    86
               2019-11    28
               2019-12    46
Length: 79, dtype: int64

## Option 5: GroupBy and Count + Size in Pandas

In [9]:
df.groupby(['publication', 'date_m'])['reading_time'].describe()

                       count       mean        std   min    25%   50%    75%  \
publication   date_m
Better Humans 2019-03    5.0  12.000000   5.196152   3.0  13.00  13.0  15.00
              2019-04    4.0   7.500000   5.196152   2.0   4.25   7.0  10.25
              2019-05    4.0  25.000000   7.958224  17.0  21.50  23.5  27.00
              2019-06    1.0   5.000000        NaN   5.0   5.00   5.0   5.00
              2019-07    3.0  22.333333  15.307950  13.0  13.50  14.0  27.00
...                      ...        ...        ...   ...    ...   ...    ...
UX Collective 2019-08   24.0   6.333333   3.102126   2.0   4.00   5.0   7.50
              2019-09   33.0   5.757576   2.738959   2.0   4.00   5.0   7.00
              2019-10   86.0   6.104651   5.788486   2.0   4.00   5.0   7.00
              2019-11   28.0   5.535714   2.516349   2.0   3.00   5.0   7.00
              2019-12   46.0   6.326087   3.496375   1.0   4.25   6.0   7.00

                        max
publication   date_m
Better Humans 2019-03  16.0
              2019-04  14.0
              2019-05  36.0
              2019-06   5.0
              2019-07  40.0
...                     ...
UX Collective 2019-08  14.0
              2019-09  13.0
              2019-10  55.0
              2019-11  12.0
              2019-12  20.0

[79 rows x 8 columns]

## Performance

In [10]:
%timeit df.groupby(['publication', 'date_m'])['publication'].count()

1.41 ms ± 21.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [11]:
%timeit df.value_counts(subset=['publication', 'date_m'], sort=False)

1.06 ms ± 12.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [12]:
%timeit df.value_counts(subset=['publication', 'date_m'])

1.18 ms ± 6.17 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [13]:
df.groupby(['publication', 'date_m'])['publication'].count()

publication    date_m
Better Humans  2019-03     5
               2019-04     4
               2019-05     4
               2019-06     1
               2019-07     3
                          ..
UX Collective  2019-08    24
               2019-09    33
               2019-10    86
               2019-11    28
               2019-12    46
Name: publication, Length: 79, dtype: int64

In [14]:
df.value_counts(subset=['publication', 'date_m'], sort=False)

publication    date_m
Better Humans  2019-03     5
               2019-04     4
               2019-05     4
               2019-06     1
               2019-07     3
                          ..
UX Collective  2019-08    24
               2019-09    33
               2019-10    86
               2019-11    28
               2019-12    46
Length: 79, dtype: int64