# How to Extract Month and Year from DateTime column in Pandas

https://datascientyst.com/extract-month-and-year-datetime-column-in-pandas/

In [3]:
import pandas as pd
dates = ['2021-08-01', '2021-08-02', '2021-08-03']
df = pd.DataFrame({'StartDate': dates})
df

    StartDate
0  2021-08-01
1  2021-08-02
2  2021-08-03

In [4]:
df['StartDate'] = pd.to_datetime(df['StartDate'])

## Extract Year and Month with .dt.to_period('M') - format YYYY-MM

In [6]:
df['StartDate'].dt.to_period('M')

0    2021-08
1    2021-08
2    2021-08
Name: StartDate, dtype: period[M]

## Extract Year and Month other formats MM/YYYY

In [7]:
df['StartDate'].dt.strftime('%m/%Y')

0    08/2021
1    08/2021
2    08/2021
Name: StartDate, dtype: object

## Extracting Year and Month separately and combine them

In [8]:
df['yyyy'] = pd.to_datetime(df['StartDate']).dt.year
df['mm'] = pd.to_datetime(df['StartDate']).dt.month
df

   StartDate  yyyy  mm
0 2021-08-01  2021   8
1 2021-08-02  2021   8
2 2021-08-03  2021   8

In [9]:
df['yyyy'].astype(str) + '-'+ df['mm'].astype(str)

0    2021-8
1    2021-8
2    2021-8
dtype: object