# How to  Convert DateTime to Quarter in Pandas

In [21]:
import pandas as pd
dates = ['2021-01-01', '2021-05-02', '2021-08-03']
df = pd.DataFrame({'StartDate': dates})
df['StartDate'] = pd.to_datetime(df['StartDate'])

df

   StartDate
0 2021-01-01
1 2021-05-02
2 2021-08-03

In [22]:
df['quarter'] = df['StartDate'].dt.to_period('Q')

In [23]:
df['quarter_custom'] = df['StartDate'].dt.to_period('Q').dt.strftime('q%q %y\'')

In [26]:
df['quarter_no_year'] = df['StartDate'].dt.quarter

In [27]:
df

   StartDate quarter quarter_custom  quarter_no_year
0 2021-01-01  2021Q1         q1 21'                1
1 2021-05-02  2021Q2         q2 21'                2
2 2021-08-03  2021Q3         q3 21'                3