# OutOfBoundsDatetime: Out of bounds nanosecond timestamp - Pandas and pd.to_datetime

article:

https://datascientyst.com/outofboundsdatetime-out-of-bounds-nanosecond-timestamp-pandas-pd-to_datetime/

## Step 1: What is "OutOfBoundsDatetime: Out of bounds nanosecond timestamp"

In [1]:
import pandas as pd
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145225')

In [2]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

## Step 2: Analyse error "OutOfBoundsDatetime: Out of bounds nanosecond timestamp

In [3]:
import pandas as pd

data = {
    "company":{"0":"Bad Pandas","2":"Clever Fox","4":"Max Wolf","6":"Rage Raycon","8":"Massive Shark"},
    "date":{"0":"Jul 16, 2020","2":"Jul 2, 2021","4":"Jun 27, 2019","6":"Jun 13","8":"May 17"},
    "sales":{"0":"17","2":"27","4":"202","6":"33","8":"29"}}

df = pd.DataFrame(data)
df

         company          date sales
0     Bad Pandas  Jul 16, 2020    17
2     Clever Fox   Jul 2, 2021    27
4       Max Wolf  Jun 27, 2019   202
6    Rage Raycon        Jun 13    33
8  Massive Shark        May 17    29

In [4]:
try:
    
    pd.to_datetime(df['date'])
    
except Exception as err:
    raise SystemExit(err)

SystemExit: Out of bounds nanosecond timestamp: 1-06-13 00:00:00

/home/vanx/Software/Tensorflow/environments/venv36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2886: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [5]:
try:
    
    pd.to_datetime('Jun 1, 1111')
    pd.to_datetime('7 1')
    pd.to_datetime('Jun 1')
    
except Exception as err:
    raise SystemExit(err)

SystemExit: Out of bounds nanosecond timestamp: 1111-06-01 00:00:00

/home/vanx/Software/Tensorflow/environments/venv36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2886: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

## Step 3: Fix and workarounds for "OutOfBoundsDatetime: Out of bounds nanosecond timestamp"

In [6]:
pd.to_datetime(df['date'], errors = 'ignore')

0    Jul 16, 2020
2     Jul 2, 2021
4    Jun 27, 2019
6          Jun 13
8          May 17
Name: date, dtype: object

In [7]:
pd.to_datetime(df['date'], errors = 'coerce')

0   2020-07-16
2   2021-07-02
4   2019-06-27
6          NaT
8          NaT
Name: date, dtype: datetime64[ns]

## Investigate

In [8]:
# Create a new column for date 'date2' with:
df['date2'] = pd.to_datetime(df['date'], errors = 'coerce')
df

         company          date sales      date2
0     Bad Pandas  Jul 16, 2020    17 2020-07-16
2     Clever Fox   Jul 2, 2021    27 2021-07-02
4       Max Wolf  Jun 27, 2019   202 2019-06-27
6    Rage Raycon        Jun 13    33        NaT
8  Massive Shark        May 17    29        NaT

In [9]:
# Find all problematic dates
df[df['date2'].isna()]['date']

6    Jun 13
8    May 17
Name: date, dtype: object

In [10]:
# Correct the problematic records
df_temp = df[df['date2'].isna()]
df.loc[df_temp.index, 'date']= df_temp['date'] + ', 2021'

In [11]:
# Convert all dates to datetime with: pd.to_datetime
pd.to_datetime(df['date'])

0   2020-07-16
2   2021-07-02
4   2019-06-27
6   2021-06-13
8   2021-05-17
Name: date, dtype: datetime64[ns]