# How to Find All Rows With Newline Inside a Column in Pandas

In [1]:
from IPython.display import HTML
import pandas as pd

df = pd.DataFrame({
    'id':[1,2,3,4],
    'name':['Softhints\nLinux', 'dataplotplus', 'DataScientyst\nPandas', 'test'],
    'url':['https://www.softhints.com', 'https://dataplotplus.com/', 'https://datascientyst.com', 'test\ntest']
})

df

   id                   name                        url
0   1       Softhints\nLinux  https://www.softhints.com
1   2           dataplotplus  https://dataplotplus.com/
2   3  DataScientyst\nPandas  https://datascientyst.com
3   4                   test                 test\ntest

In [2]:
import pyperclip
df1 = df[df[['name', 'url']].apply(lambda row: row.astype(str).str.contains('\n').any(), axis=1)]
pyperclip.copy((df1.head().to_html(classes='table table-striped text-center', justify='center', index=False)))

In [3]:
df[df['name'].str.contains('\n',regex=False)]

   id                   name                        url
0   1       Softhints\nLinux  https://www.softhints.com
2   3  DataScientyst\nPandas  https://datascientyst.com

In [4]:
df[df[['name', 'url']].apply(lambda row: row.astype(str).str.contains('\n').any(), axis=1)]

   id                   name                        url
0   1       Softhints\nLinux  https://www.softhints.com
2   3  DataScientyst\nPandas  https://datascientyst.com
3   4                   test                 test\ntest

In [5]:
df[df.apply(lambda row: row.astype(str).str.contains('\n').any(), axis=1)]

   id                   name                        url
0   1       Softhints\nLinux  https://www.softhints.com
2   3  DataScientyst\nPandas  https://datascientyst.com
3   4                   test                 test\ntest