# How to Search for String in the Whole Dataframe in Pandas

In [1]:
from IPython.display import HTML
import pandas as pd

df = pd.DataFrame({
    'id':[1,2,3,4],
    'name':['Softhints\nLinux', 'dataplotplus', 'DataScientyst\nPandas', 'test'],
    'url':['https://www.softhints.com', 'https://dataplotplus.com/', 'https://datascientyst.com', 'test\data']
})

df

   id                   name                        url
0   1       Softhints\nLinux  https://www.softhints.com
1   2           dataplotplus  https://dataplotplus.com/
2   3  DataScientyst\nPandas  https://datascientyst.com
3   4                   test                  test\data

In [2]:
df.apply(lambda row: row.astype(str).str.contains('data'), axis=1)

      id   name    url
0  False  False  False
1  False   True   True
2  False  False   True
3  False  False   True

In [3]:
df.apply(lambda row: row.astype(str).str.contains('data').any(), axis=1)

0    False
1     True
2     True
3     True
dtype: bool

In [4]:
import numpy as np
mask = np.column_stack([df[col].astype(str).str.contains("data", na=False) for col in df])
df.loc[mask.any(axis=1)]

   id                   name                        url
1   2           dataplotplus  https://dataplotplus.com/
2   3  DataScientyst\nPandas  https://datascientyst.com
3   4                   test                  test\data

In [5]:
[df[col].astype(str).str.contains("data", na=False) for col in df]

[0    False
 1    False
 2    False
 3    False
 Name: id, dtype: bool,
 0    False
 1     True
 2    False
 3    False
 Name: name, dtype: bool,
 0    False
 1     True
 2     True
 3     True
 Name: url, dtype: bool]

In [6]:
np.column_stack([df[col].astype(str).str.contains("data", na=False) for col in df])

array([[False, False, False],
       [False,  True,  True],
       [False, False,  True],
       [False, False,  True]])