# Progress Bars in Pandas/Python - TQDM

https://datascientyst.com/progress-bars-pandas-python-tqdm/

## Step 1: Install and Update TQDM

```python
pip install tqdm

pip install tqdm -U
```

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

df = pd.DataFrame(np.random.randint(0, 100, (1000000, 100)))

tqdm.pandas(desc="power DataFrame 1M x 100 of random int!")

df.progress_apply(lambda x: x**2)
df.groupby(0)[1].count().progress_apply(lambda x: x**2)

power DataFrame 1M x 100 of random int!: 100%|██████████| 100/100 [00:02<00:00, 47.11it/s]
power DataFrame 1M x 100 of random int!: 100%|██████████| 100/100 [00:00<00:00, 162318.27it/s]

0
0     100902025
1      97990201
2     102799321
3     100500625
4     100902025
        ...
95     99321156
96     97891236
97     99281296
98    101425041
99     97713225
Name: 1, Length: 100, dtype: int64

## Step 2: Show Progress bar on loops

In [2]:
import numpy as np
from tqdm import tqdm 

myrange = np.arange(2000000)
i_2 = []

for i in tqdm(myrange):
    i_2.append(i**2)

100%|██████████| 2000000/2000000 [00:01<00:00, 1631071.96it/s]

## Step 3: Change progress bar size and style

In [3]:
import numpy as np
from tqdm.auto import tqdm 

myrange = np.arange(2000000)
i_2 = []

for i in tqdm(myrange):
    i_2.append(i**2)

  0%|          | 0/2000000 [00:00<?, ?it/s]

In [4]:
import numpy as np
from tqdm import tqdm 

myrange = np.arange(2000000)
i_2 = []

for i in tqdm(myrange, bar_format='{desc:<5.5}{percentage:3.0f}%|{bar:50}{r_bar}'):
    i_2.append(i**2)

     100%|██████████████████████████████████████████████████| 2000000/2000000 [00:01<00:00, 1531504.29it/s]

## Step 4: Progress bar during Pandas operations

### Pandas iterrows and progress bar

In [5]:
from time import sleep

for index, row in tqdm(df.iterrows(), total=df.shape[0]):
    sleep(0)

100%|██████████| 1000000/1000000 [01:16<00:00, 13125.36it/s]

### Pandas progress bar for lambda

In [6]:
tqdm.pandas(desc="power DataFrame 1M x 100 of random int!")

df.progress_apply(lambda x: x**2)

power DataFrame 1M x 100 of random int!: 100%|██████████| 100/100 [00:01<00:00, 64.88it/s]

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,4489,4489,841,5184,1296,6241,121,3481,4761,6561,...,6241,4225,1444,6241,5476,7569,784,5476,2704,1849
1,9409,2601,8464,676,1849,3600,9604,7744,625,0,...,5929,289,4356,1764,6561,16,3364,324,6400,49
2,9604,1296,100,5184,1600,1936,841,1681,6241,1681,...,4,3600,1369,1369,7396,7056,36,841,6084,121
3,7056,2809,4356,81,6084,196,7396,121,196,400,...,25,3721,2401,8649,3025,3969,225,9409,2500,4096
4,529,1849,25,1521,1296,8836,361,1089,4624,25,...,169,1225,25,1225,5476,784,169,1681,7569,3364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2116,196,8281,784,196,9604,6724,169,25,121,...,400,5776,1369,289,9216,8281,6241,1089,1764,900
999996,169,3721,7056,324,961,1849,4761,225,5184,3136,...,1296,8464,361,36,9216,529,5041,1444,3600,225
999997,2401,8281,5329,6889,2025,841,3969,144,676,1369,...,7056,576,8464,2601,2916,6400,4096,7225,2116,784
999998,4,1,9025,0,7744,1,2704,3969,1849,4356,...,8281,7396,1089,64,2401,7056,6561,4096,36,1225
999999,9409,3844,9216,7744,256,3969,9604,8100,9604,6241,...,5625,3969,729,3600,4761,1225,2116,2601,1681,2401

### Pandas progress bar for function with progress_map

In [7]:
from tqdm import tqdm

def cube(x):
    return x ** 2

tqdm.pandas()

df['cube'] = df[0].progress_map(cube)

100%|██████████| 1000000/1000000 [00:01<00:00, 779687.22it/s]

### Pandas progress bar for dictionary map

In [8]:
mapping = {15:'a', 9:'b'}

df[0].progress_map(lambda x: mapping.get(x))

100%|██████████| 1000000/1000000 [00:01<00:00, 960752.42it/s]

0         None
1         None
2         None
3         None
4         None
          ...
999995    None
999996    None
999997    None
999998    None
999999    None
Name: 0, Length: 1000000, dtype: object

### Pandas progress_aggregate

In [9]:
from tqdm import tqdm
tqdm.pandas()

df.groupby(0).progress_aggregate(sum)

100%|██████████| 100/100 [00:05<00:00, 17.15it/s]

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,cube
0,,,,,,,,,,,,,,,,,,,,,
0,501197,497426,496372,498940,493033,494249,491234,492603,500402,493400,...,495132,494038,490640,496248,498510,499543,496363,495874,498037,0
1,492288,491296,493321,493182,495105,486836,488677,492915,492437,490480,...,487843,487950,485663,489769,492125,489231,490132,494387,488983,9899
2,507840,499662,502868,503314,496592,504309,502837,501858,502660,507338,...,501966,504449,503046,503108,500100,504382,506626,506927,504876,40556
3,497746,497595,490392,495943,497406,495242,499081,498150,496620,495149,...,495585,497246,496571,492950,494042,494344,494965,498659,497450,90225
4,500960,496236,495197,497609,498199,500667,491417,496575,499840,492348,...,501543,492043,498013,497144,505176,497478,497872,497069,499515,160720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,489089,493581,498118,494045,494354,487885,491726,491705,492773,496067,...,491789,491099,493147,496123,494881,496531,496840,492531,494288,89943150
96,491852,488565,491567,490315,498128,492223,490852,491705,491839,486986,...,484926,489895,487923,494435,487250,489269,489103,490382,490121,91183104
97,491404,495575,496346,496668,492319,488270,493313,496237,493389,491798,...,495284,493970,491162,496926,485683,486619,490249,491727,489993,93751276
98,498463,499609,497830,497147,492197,502280,502948,496000,498501,498156,...,500292,491776,496442,493510,497397,496974,500868,498518,500071,96721884
99,483961,488263,488085,491189,486151,489331,487999,490470,487825,487011,...,488721,494669,489127,489649,486753,486120,484946,492036,486561,96882885