# Dump (unique) values to CSV / to_csv in Pandas

In [1]:
import pandas as pd

df = pd.read_csv(f'../data/earthquakes_1965_2016_database.csv.zip')

cols = ['Date', 'Time', 'Latitude', 'Longitude', 'Depth', 'Magnitude Type']
df = df[cols]

df

             Date      Time  Latitude  Longitude   Depth Magnitude Type
0      01/02/1965  13:44:18   19.2460   145.6160  131.60             MW
1      01/04/1965  11:29:49    1.8630   127.3520   80.00             MW
2      01/05/1965  18:05:58  -20.5790  -173.9720   20.00             MW
3      01/08/1965  18:49:43  -59.0760   -23.5570   15.00             MW
4      01/09/1965  13:32:50   11.9380   126.4270   15.00             MW
...           ...       ...       ...        ...     ...            ...
23407  12/28/2016  08:22:12   38.3917  -118.8941   12.30             ML
23408  12/28/2016  09:13:47   38.3777  -118.8957    8.80             ML
23409  12/28/2016  12:38:51   36.9179   140.4262   10.00            MWW
23410  12/29/2016  22:30:19   -9.0283   118.6639   79.00            MWW
23411  12/30/2016  20:08:28   37.3973   141.4103   11.94             MB

[23412 rows x 6 columns]

In [2]:
df['Magnitude Type'].unique().to_csv()

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'

In [ ]:
df['Magnitude Type'].unique()

In [ ]:
pd.Series(df['Magnitude Type'].unique()).to_csv()

In [ ]:
pd.DataFrame(df['Magnitude Type'].unique()).to_csv()

In [ ]:
pd.DataFrame(df['Magnitude Type'].unique()).to_csv(header=None, index=None)