## How to Render Pandas DataFrame As HTML Table Keeping Style

In [51]:
import numpy as np
import pandas as pd
import string

string.ascii_lowercase

n = 5
m = 7

cols = string.ascii_lowercase[:m]

df = pd.DataFrame(np.random.randint(0, n,size=(n , m)), columns=list(cols))

df

   a  b  c  d  e  f  g
0  3  4  0  1  2  4  3
1  3  1  2  3  0  2  1
2  4  4  3  4  3  4  2
3  0  0  0  1  1  0  4
4  0  1  0  1  0  0  0

In [53]:
df = pd.DataFrame({'a': {0: 3, 1: 3, 2: 4, 3: 0, 4: 0},
 'b': {0: 4, 1: 1, 2: 4, 3: 0, 4: 1},
 'c': {0: 0, 1: 2, 2: 3, 3: 0, 4: 0},
 'd': {0: 1, 1: 3, 2: 4, 3: 1, 4: 1},
 'e': {0: 2, 1: 0, 2: 3, 3: 1, 4: 0},
 'f': {0: 4, 1: 2, 2: 4, 3: 0, 4: 0},
 'g': {0: 3, 1: 1, 2: 2, 3: 4, 4: 0}})
df

   a  b  c  d  e  f  g
0  3  4  0  1  2  4  3
1  3  1  2  3  0  2  1
2  4  4  3  4  3  4  2
3  0  0  0  1  1  0  4
4  0  1  0  1  0  0  0

## Step 2: Convert Dataframe to HTML table

In [54]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>e</th>
      <th>f</th>
      <th>g</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>

## Step 3: Render  Dataframe to HTML table

In [58]:
def format_color_groups(df):
    colors = ['gold', 'lightblue']
    x = df.copy()
    factors = list(x['b'].unique())
    i = 0
    for factor in factors:
        style = f'background-color: {colors[i]}'
        x.loc[x['b'] == factor, :] = style
        i = not i
    return x

df.sort_values(by='b').style.apply(format_color_groups, axis=None)

In [59]:
print(df.style.apply(format_color_groups, axis=None).render())

<style  type="text/css" >
    #T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col0 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col1 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col2 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col3 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col4 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col5 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col6 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col0 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col1 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col2 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col3 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col4 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col5 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col6 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col0 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col1 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col2 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col3 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col4 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col5 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col6 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col0 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col1 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col2 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col3 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col4 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col5 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col6 {
            background-color:  gold;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col0 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col1 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col2 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col3 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col4 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col5 {
            background-color:  lightblue;
        }    #T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col6 {
            background-color:  lightblue;
        }</style><table id="T_8cca17e8_d347_11eb_a881_309c234b7b27" ><thead>    <tr>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >a</th>        <th class="col_heading level0 col1" >b</th>        <th class="col_heading level0 col2" >c</th>        <th class="col_heading level0 col3" >d</th>        <th class="col_heading level0 col4" >e</th>        <th class="col_heading level0 col5" >f</th>        <th class="col_heading level0 col6" >g</th>    </tr></thead><tbody>
                <tr>
                        <th id="T_8cca17e8_d347_11eb_a881_309c234b7b27level0_row0" class="row_heading level0 row0" >0</th>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col0" class="data row0 col0" >3</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col1" class="data row0 col1" >4</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col2" class="data row0 col2" >0</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col3" class="data row0 col3" >1</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col4" class="data row0 col4" >2</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col5" class="data row0 col5" >4</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row0_col6" class="data row0 col6" >3</td>
            </tr>
            <tr>
                        <th id="T_8cca17e8_d347_11eb_a881_309c234b7b27level0_row1" class="row_heading level0 row1" >1</th>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col0" class="data row1 col0" >3</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col1" class="data row1 col1" >1</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col2" class="data row1 col2" >2</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col3" class="data row1 col3" >3</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col4" class="data row1 col4" >0</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col5" class="data row1 col5" >2</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row1_col6" class="data row1 col6" >1</td>
            </tr>
            <tr>
                        <th id="T_8cca17e8_d347_11eb_a881_309c234b7b27level0_row2" class="row_heading level0 row2" >2</th>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col0" class="data row2 col0" >4</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col1" class="data row2 col1" >4</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col2" class="data row2 col2" >3</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col3" class="data row2 col3" >4</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col4" class="data row2 col4" >3</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col5" class="data row2 col5" >4</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row2_col6" class="data row2 col6" >2</td>
            </tr>
            <tr>
                        <th id="T_8cca17e8_d347_11eb_a881_309c234b7b27level0_row3" class="row_heading level0 row3" >3</th>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col0" class="data row3 col0" >0</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col1" class="data row3 col1" >0</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col2" class="data row3 col2" >0</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col3" class="data row3 col3" >1</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col4" class="data row3 col4" >1</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col5" class="data row3 col5" >0</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row3_col6" class="data row3 col6" >4</td>
            </tr>
            <tr>
                        <th id="T_8cca17e8_d347_11eb_a881_309c234b7b27level0_row4" class="row_heading level0 row4" >4</th>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col0" class="data row4 col0" >0</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col1" class="data row4 col1" >1</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col2" class="data row4 col2" >0</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col3" class="data row4 col3" >1</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col4" class="data row4 col4" >0</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col5" class="data row4 col5" >0</td>
                        <td id="T_8cca17e8_d347_11eb_a881_309c234b7b27row4_col6" class="data row4 col6" >0</td>
            </tr>
    </tbody></table>

In [35]:
df.style

'<style  type="text/css" >\n</style><table id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27" ><thead>    <tr>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >a</th>        <th class="col_heading level0 col1" >b</th>        <th class="col_heading level0 col2" >c</th>        <th class="col_heading level0 col3" >d</th>        <th class="col_heading level0 col4" >e</th>        <th class="col_heading level0 col5" >f</th>        <th class="col_heading level0 col6" >g</th>    </tr></thead><tbody>\n                <tr>\n                        <th id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27level0_row0" class="row_heading level0 row0" >0</th>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row0_col0" class="data row0 col0" >1</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row0_col1" class="data row0 col1" >0</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row0_col2" class="data row0 col2" >4</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row0_col3" class="data row0 col3" >2</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row0_col4" class="data row0 col4" >1</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row0_col5" class="data row0 col5" >3</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row0_col6" class="data row0 col6" >4</td>\n            </tr>\n            <tr>\n                        <th id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27level0_row1" class="row_heading level0 row1" >1</th>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row1_col0" class="data row1 col0" >2</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row1_col1" class="data row1 col1" >2</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row1_col2" class="data row1 col2" >4</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row1_col3" class="data row1 col3" >2</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row1_col4" class="data row1 col4" >3</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row1_col5" class="data row1 col5" >4</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row1_col6" class="data row1 col6" >0</td>\n            </tr>\n            <tr>\n                        <th id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27level0_row2" class="row_heading level0 row2" >2</th>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row2_col0" class="data row2 col0" >0</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row2_col1" class="data row2 col1" >4</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row2_col2" class="data row2 col2" >3</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row2_col3" class="data row2 col3" >3</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row2_col4" class="data row2 col4" >1</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row2_col5" class="data row2 col5" >4</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row2_col6" class="data row2 col6" >3</td>\n            </tr>\n            <tr>\n                        <th id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27level0_row3" class="row_heading level0 row3" >3</th>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row3_col0" class="data row3 col0" >2</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row3_col1" class="data row3 col1" >0</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row3_col2" class="data row3 col2" >2</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row3_col3" class="data row3 col3" >3</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row3_col4" class="data row3 col4" >0</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row3_col5" class="data row3 col5" >2</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row3_col6" class="data row3 col6" >0</td>\n            </tr>\n            <tr>\n                        <th id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27level0_row4" class="row_heading level0 row4" >4</th>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row4_col0" class="data row4 col0" >0</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row4_col1" class="data row4 col1" >1</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row4_col2" class="data row4 col2" >3</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row4_col3" class="data row4 col3" >1</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row4_col4" class="data row4 col4" >0</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row4_col5" class="data row4 col5" >4</td>\n                        <td id="T_7bc9fe6c_d343_11eb_a881_309c234b7b27row4_col6" class="data row4 col6" >3</td>\n            </tr>\n    </tbody></table>'

## Step 4: Pandas Dataframe as striped table

In [28]:
print(df.to_html(classes='table table-striped text-center', justify='center'))

<table border="1" class="dataframe table table-striped text-center">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>e</th>
      <th>f</th>
      <th>g</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>4</td>
      <td>3</td>
    </tr>
  </tbody>
</table>